html, body, span, p , .ui-widget  , .ui-tabs-anchor{
font-family: 'Tajawal', sans-serif !important;
line-height: 1.6;
}
footer .subscribe-form .subscribe-button {
    right: unset;
    left: 16px;
}
.accordion-nav {
    text-align: right;
}
.modal-header .btn-close{
    margin: 0;
}
.ms-auto {
    margin-right: auto!important;
    margin-left: unset!important;
}

.whats-btn{
    font-size: 46px;
    line-height: 1.7;
}

.project-tabs .ui-tabs .ui-tabs-nav li {
    margin-left: 10px ;
    margin-right: unset;
}
.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
    float: right;
}

@media (max-width: 767px) {
    .whats-btn {
        font-size: 30px;
        line-height: 1.3;
    }
}
