html, body, span, p , .ui-widget {
font-family: 'Tajawal', sans-serif !important;
line-height: 1.8;
}

.testimonials-card  .item .testimonial {
    padding-right: unset;
    padding: 2rem;
    padding-left: 5rem;

}

.testimonials-card .item .image {
    right: unset;
    left: 0;

}
footer .subscribe-form .subscribe-button {
    right: unset;
    left: 16px;
}
.accordion-nav {
    text-align: right;
}
.modal-header .btn-close{
    margin: 0;
}
.ms-auto {
    margin-right: auto!important;
    margin-left: unset!important;
}
