:root {
    --main-color: #cb9e2c;
    --second-color: #717172;
    --gradiant-main-color: #fff6df;
    --font-size: 1rem;
    --line-hight: 1.5;
}

html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: var(--font-size);
    line-height: var(--line-hight);
    font-family: Poppins, sans-serif;
}

main {
    position: relative;
    min-height: calc(100vh - 77px);
    padding-top: 20px;
    padding-bottom: 40px;
}
.btn{
    font-weight: bold;
}
.text-main-color {
    color: var(--main-color);
}

.bg-main-color {
    background-color: var(--main-color);
}

.text-second-color {
    color: var(--second-color);
}

.bg-second-color {
    background-color: var(--second-color);
}

.card-text {
    color: var(--second-color);
}

.btn-main-color {
    background-color: var(--main-color);
    color: #ffffff;
    font-weight: bold;
}

.btn-main-color:hover {
    color: var(--main-color);
    border-color: var(--main-color);
}

.card-shadow {
    box-shadow: 10px 10px 10px #DDDDDD;
}

.circle {
    border-radius: 50%;
}

.title {
    line-height: 1.5;
    color: var(--second-color);
}

.dropdown .dropdown-menu {
    transform: translate3d(-20%, 36px, 0);
    border: none;
}

.dropdown .dropdown-menu .parent {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    max-height: 450px;
    overflow-y: auto;
    gap: .5rem;
}

.dropdown .dropdown-menu a {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    padding: .5rem;
    color: var(--second-color);
}

.dropdown-item {
    position: relative;
}

.submenu {
    position: absolute;
    top: 0;
    left: 100%;
    display: none;
    background-color: white;
    padding: .5rem;
    border-radius: 8px;
}

.dropdown-item:hover .submenu {
    display: block;
}

.submenu .dropdown-item {
    margin: 5px 0;
}

.border-btns .dropdown-menu a {
    border-radius: 2rem;
    border: 1px solid #eaeaea;
}

.btn-check:checked + .btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check) + .btn:active {
    border-color: transparent;
}

.dropdown-menu a:hover {
    color: var(--main-color);
    background: var(--gradiant-main-color);
}

.border-btns .dropdown-menu a:checked, .dropdown-menu a:active {
    border: 1px solid var(--main-color);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.4);
}

.text-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #FFFFFF;
    z-index: 2;
}

.custom-select2 {
    width: 100%;
}

.select2-container .select2-selection--single {
    border: none;
    background-color: transparent;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: var(--gradiant-main-color);
    color: var(--main-color);
}

a {
    color: var(--main-color);
    text-decoration: none;
}

a:hover {
    color: var(--second-color);
}

/* Other rules */

#fixedNav {
    transition: 0.3s;
}

.trans-nav {
    z-index: 100;
    backdrop-filter: blur(5px);
    position: relative;
    background-color: #ffffff;
}

.home .trans-nav {
    background-color: transparent;
}

.home .trans-nav .btn {
    color: #ffffff;
}

.fixed-nav {
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    background-color: #ffffff;
}

.home-bg {
    transform: translateY(-90px);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 100vh;
    max-height: 650px;
    position: relative;
}

.home-filter {
    padding: 16px;
    border-radius: 60px;
    background-color: #fcfcfc;
    transform: translateY(-110px);
    margin-bottom: -15px;
}

.w-md-50 {
    width: 50% !important;
}

.whats-btn {
    position: fixed;
    z-index: 300;
    width: 75px;
    height: 75px;
    bottom: 100px;
    right: 75px;
    font-size: 40px;
}


.home-filter-sections {
    padding: 12px 32px;
    background-color: #fcfcfc;
    border-radius: 60px;
    border: 1px solid #eaeaea;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}


.home-filter-sections .filter-separator {
    width: 1px;
    height: 32px;
    background: #bdbdbd;
}

.sections-margin {
    margin-top: 60px;
}

.global-title {
    font-weight: 600;
    margin-bottom: 24px;
}

.choose-country .countries {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-wrap: wrap;
}

.choose-country .countries .country {
    padding: 24px;
    border-radius: 8px;
    border: 1px solid #eaeaea;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 352px;
    align-self: stretch;
}

.choose-country .countries .country .flag-name {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 24px;
}

.choose-country .countries .country .flag-name .flag-img {
    width: 64px;
}

.choose-country .countries .country .flag-name p {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 0;
}

.choose-country .countries .country .other-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.choose-country .countries .country .other-info p {
    color: var(--second-color);;
    margin-bottom: 0;
}

.choose-country .countries .country .other-info .view-all {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 8px;
}

.blur-up.lazyloaded {
    filter: blur(0);
}

.blur-up {
    filter: blur(5px);
    transition: filter .4s;
}

.project-card {
    border: none;
    transition: all ease-in-out .2s;
}

.project-card img {
    border-radius: 8px;
    height: 380px;
    object-fit: cover;
}

.project-card .card-body {
    background-color: #FFFFFF;
}

.project-card .property-country {
    display: flex;
    padding: 6px 12px;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    gap: 6px;
    position: absolute;
    right: 0;
    top: 40px;
    z-index: 3;
    box-shadow: 2px 4px 8px var(--second-color);
}

.project-card .home .country-name {
    font-size: 14px;
    font-weight: 500;
}

.project-card:hover .card-body {
    transition: all ease-in-out .2s;
    border-radius: 8px;
    transform: translateY(-20px);
    cursor: pointer;
    box-shadow: var(--second-color) 0 1px 4px;
}

.login-card {
    margin: 0 auto;
    padding: 4rem 0;
}


.contact, .faq, .pages, .citizenship, .property, .land {
    background: #f6f6f6;
}

.sidebar {
    z-index: 3;
}

.contact-form {
    background: #fff;
    color: var(--second-color);;
    border-radius: 8px;
}

.contact-form .head {
    font-weight: 700 !important;
    margin-bottom: 0;
}

.contact-form .title {
    font-size: .9rem;
    color: #444c58;
    margin: 0 auto;
}

.contact-form .form-group .custom-input {
    width: 100%;
    background: 0 0;
    border: 0;
    border-bottom: 2px solid var(--main-color);
    color: var(--second-color);
    margin: 1rem 0;
    font-size: 1rem;
    border-radius: 0;
}

.contact-form .form-group .custom-input:focus {
    box-shadow: none;
    outline: 0;
}

.custom-section {
    padding: 1.5rem;
    background: #fff;
    border-radius: 8px;
}

.contact iframe {
    width: 100%;
}

.sticky-sidebar {
    position: sticky;
    top: 1rem;
    z-index: 1;
}

.citizenship-bg {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
    max-height: 600px;
}

.cats-nav {
    padding: 0 15px;
    gap: 15px;
    flex-wrap: nowrap;
    white-space: nowrap;
    overflow-x: auto;
    scrollbar-width: thin;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center

}


footer .subscribe-form {
    position: relative;
    width: fit-content;
}

footer .subscribe-form .email-input {
    max-width: 440px;
    width: 100%;
    padding-inline-end: 140px;
    padding-inline-start: 16px;
    padding-block: 16px;
    border-radius: 16px;
    outline: none;
    border: none;
}

footer .subscribe-form .subscribe-button {
    position: absolute;
    right: 16px;
    font-weight: 500;
    top: 50%;
    transform: translateY(-50%);
    padding: 8px 16px;
    background-color: var(--second-color);
    border-radius: 8px;
    outline: none;
    border: none;
    color: #ffffff;
}

.pagination .page-item.active .page-link {
    box-shadow: 0 2px 5px 0 var(--second-color);
}

.pagination .page-item.active .page-link {
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
    border-radius: .125rem;
    background-color: var(--main-color);
    color: #ffffff;
}

.pagination .page-item .page-link {
    -webkit-transition: all .3s linear;
    transition: all .3s linear;
    outline: 0;
    border: 0;
    background-color: transparent;
    font-size: .9rem;
    color: var(--second-color);
    font-weight: 700;
}

.pagination .page-item .page-link:hover {
    -webkit-transition: all .3s linear;
    transition: all .3s linear;
    border-radius: .125rem;
    background-color: #eee;
}

.form-control:focus {
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
    border-color: var(--main-color) !important;
    outline: 0;
    box-shadow: 0 0 0 .25rem var(--gradiant-main-color) !important;
}

.project-overview iframe {
    width: 100%;
}

.slick-slider .slick-prev,
.slick-slider .slick-next {
    z-index: 100;
    font-size: 3rem;
    margin-top: -40px;
    color: white;
    position: absolute;
    top: 50%;
    text-align: center;
    transition: opacity 0.25s;
    cursor: pointer;
}

.slick-slider .slick-prev:hover,
.slick-slider .slick-next:hover {
    color: var(--main-color);
}

.slick-slider .slick-prev {
    left: 0;
}

.slick-slider .slick-next {
    right: 0;
}


#detail .product-images li,
#detail .product-images figure,
#detail .product-images a,
#detail .product-images img {
    display: block;
    outline: none;
    border: none;
}

#detail .product-images .slide-images {
    width: 100%;
    max-height: 400px;
    border-radius: 12px;
}

#detail .product-images .main-img-slider figure {
    margin: 0 auto;
    padding: 0 2em;
}

#detail .product-images .main-img-slider figure a {
    cursor: pointer;
    cursor: -webkit-zoom-in;
    cursor: -moz-zoom-in;
    cursor: zoom-in;
}

#detail .product-images .main-img-slider figure a img {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
}

#detail .product-images .thumb-nav {
    margin: 0 auto;
    padding: 20px 10px;
    width: 100%;
}

#detail .product-images .thumb-nav.slick-slider .slick-prev {
    margin-left: 25px;
}

#detail .product-images .thumb-nav.slick-slider .slick-next {
    margin-right: 25px;
}

#detail .product-images .thumb-nav li {
    display: block;
    margin: 0 auto;
    cursor: pointer;
}

#detail .product-images .thumb-nav li img {
    display: block;
    width: 100%;
    max-height: 90px;
    border-radius: 12px;
    margin: 0 auto;
    border: 2px solid var(--gradiant-main-color);
    -webkit-transition: border-color 0.25s;
    -ms-transition: border-color 0.25s;
    -moz-transition: border-color 0.25s;
    transition: border-color 0.25s;
}

.social-links, .social-links:hover {
    color: #ffffff;
}

.accordion-nav {
    font-weight: bold;
    cursor: pointer;
    padding: 12px;
    margin: 1px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    transition: 0.4s;
}

.active, .accordion-nav:hover {
    border-color: var(--main-color);
    border-bottom: 2px;
}

.panel {
    padding: 10px;
    background-color: white;
    display: none;
    overflow: hidden;
}

.test-content {
    padding: 24px;
    border-radius: 12px;
    border-top: 1px solid #eaeaea;
    border-right: 1px solid #eaeaea;
    border-left: 1px solid #eaeaea;
    box-shadow: 0 6px 8px #dddddd;
    position: relative;
}

.test-content p {
    height: 144px;
    overflow-y: auto;
    margin-top: 1rem;
    padding-inline: 10px;
}

.reviewer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    margin-top: 16px;
}

.reviewer .name-date .date {
    color: var(--second-color);
    font-size: 14px;
}

.name-date .name {
    margin-bottom: 0;
}

.heartbeat {
    -webkit-animation: heartbeat 4.5s ease-in-out infinite both;
    animation: heartbeat 4.5s ease-in-out infinite both;
}

@-webkit-keyframes heartbeat {
    from {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: center center;
        transform-origin: center center;
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
    10% {
        -webkit-transform: scale(0.91);
        transform: scale(0.91);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    17% {
        -webkit-transform: scale(0.98);
        transform: scale(0.98);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
    33% {
        -webkit-transform: scale(0.87);
        transform: scale(0.87);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    45% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
}

@keyframes heartbeat {
    from {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: center center;
        transform-origin: center center;
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
    10% {
        -webkit-transform: scale(0.91);
        transform: scale(0.91);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    17% {
        -webkit-transform: scale(0.98);
        transform: scale(0.98);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
    33% {
        -webkit-transform: scale(0.87);
        transform: scale(0.87);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    45% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
}

.multi-step-form fieldset {
    display: none;
}

.multi-step-form fieldset {
    border-radius: 20px;
    background-color: var(--gradiant-main-color);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 50px;
    position: relative;
}

.multi-step-form fieldset:first-of-type {
    display: flex;
}

.multi-step-form .options {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 24px;
}

.multi-step-form .option {
    padding: 5px 15px;
    background-color: #FFFFFF;
    border-radius: 20px;
    font-size: 22px;
    border: 1px solid var(--second-color);
    font-weight: bold;
    line-height: 1.5;
    cursor: pointer;
}

.multi-step-form .option:hover {
    border: 1px solid var(--main-color);
    color: var(--main-color);
}

.category {
    font-size: 14px;
    padding: 8px 16px;
    border: 1px solid #eaeaea;
    background-color: transparent;
    width: fit-content;
    border-radius: 34px;
    font-weight: 500;
}

.category:hover, .category.active {
    background-color: var(--gradiant-main-color);
    color: var(--main-color);
    border-color: transparent;
}

.ui-state-default {
    color: var(--main-color) !important;
}

.project-boxes .box {
    display: inline-block;
    width: 18%;
    padding: 1rem 0;
    background: #ededed;
    color: #37404d;
    border-radius: 8px;
    border: 0 solid #ddd;
    text-align: center;
    margin-right: 1.5%;
}

.project-boxes .box i {
    font-size: 1.5rem;
    margin-bottom: .5rem;
}

.project-features li {
    font-size: 24px;
    color: var(--second-color);
    line-height: 1.5;
}

.project-tabs .ui-widget-content {
    border: unset !important;
    background: unset !important;
    color: unset !important;
}

.project-tabs .ui-widget-header {
    border: unset !important;
    background: unset !important;
    color: unset !important;

}

.project-tabs .ui-tabs .ui-tabs-panel {
    padding: 10px 0 !important;
    margin-top: 5px;
}

.project-tabs .ui-tabs .ui-tabs-nav li {
    margin-right: 10px;
    padding: 3px;
    border: 1px solid;
    border-radius: 12px;
}

.ui-state-default a:visited, .ui-state-default a, .ui-state-default a:link {
    color: var(--second-color);
    text-decoration: none;
}

.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited {
    color: var(--main-color);
    text-decoration: none;
}

.citizenship .page-banner {
    padding: 1rem;
    margin-bottom: 0 !important;
}

.section-border {
    border-radius: 8px;
    background: #fff;
}

.citizenship .page-banner .citizenship-main-img {
    max-width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.citizenship-way .description {
    font-size: 1.3rem;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.citizenship-way .description p {
    position: relative;
}

.new-turkish-citizenship-page .citizenship-way .description p:first-child:after {
    content: '';
    position: absolute;
    top: -10px;
    left: 0;
    height: 3px;
    width: 55px;
    background: var(--main-color);
}

.citizenship-way .ways-group {
    border: 1px solid var(--main-color);
    padding-top: 1rem;
}

.citizenship-way .ways-group .head {
    width: 35%;
    margin: auto;
    background: #fff;
    font-size: 1.4rem;
    text-align: center;
    position: relative;
}

.citizenship-way .ways-group .head::before,
.citizenship-way .ways-group .head::after {
    content: '';
    position: absolute;
    top: 50%;
    width: 120px;
    height: 3px;
    background: var(--main-color);
}

.citizenship-way .ways-group .head::after {
    left: 0;
    transform: translatex(-100%);
}

.citizenship-way .ways-group .head::before {
    right: 0;
    transform: translatex(100%);
}

.citizenship-way .ways-group .pointes {
    display: flex;
    justify-content: center;
}

.citizenship-way .ways-group .pointes span {
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background: var(--main-color);
}

.citizenship-way .ways-group .pointes span:nth-child(2) {
    margin: 0 1.5rem;
    background: var(--second-color);
}

.citizenship-way .ways-group .ways {
    width: 100%;
}

.citizenship-way .ways-group .ways .item {
    width: calc(100% / 3);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.citizenship-way .ways-group .ways .item .number {
    font-size: 1.8rem;
    font-weight: 700;
    margin: .5rem 0;
}

.citizenship-way .ways-group .ways .item .desc {
    background: var(--main-color);
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1rem;
    height: 100%;
    width: 100%;
    border: 1px solid #ffffff;
}

.citizenship-way .ways-group .ways .item:nth-child(2) .desc {
    background-color: var(--second-color);
}

.citizenship-way .ways-group .ways .item .desc p {
    font-size: 1.2rem;
    font-weight: 600;
}


.citizenship-way .ways-group .ways .item .desc .title {
    font-weight: 700;
    font-size: 1.15rem;
    color: #fff;
}

.citizenship-way .ways-group .ways .item .desc .info {
    padding: 1.5rem 0;
    position: relative;
}

.turkish-card {
    position: relative;
}

.turkish-card .card-img {
    width: 100%;
}

.turkish-card .card-img img {
    width: 100%;
    object-fit: cover;
    height: 500px;
}

.turkish-card .card-body {
    position: absolute;
    bottom: -30px;
    left: 0;
    right: 0;
    width: 100%;
    background: url('../images/custom/turkish-card-decor.png') no-repeat center;
    background-size: cover;
    color: #fff;
    transition: all .4s ease-in-out;
    z-index: 1;
}

.turkish-card .card-body .number {
    font-size: .8rem;
}

.turkish-card .card-body .prop-location {
    width: 75%;
    display: flex;
    justify-content: space-around;
}

.turkish-card .card-body .prop-location .location-contain {
    font-size: .9rem;
    display: flex;
    flex-direction: column;
}

.turkish-card .card-body .prop-location .price-contain .price {
    font-size: 1.5rem;
}

.steps-section .contain {
    width: 70%;
    margin: auto;
}

.steps-section .contain .steps {
    position: relative;
    padding: 3rem 0;
    direction: rtl;
}

.steps-section .contain .steps .decor {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    content: "";
    background: var(--second-color);;
    width: 10px;
    height: 100%;
}

.steps-section .contain .steps .circle-decor.top {
    top: 0;
    transform: translate(-50%, -50%);
}

.steps-section .contain .steps .circle-decor.bottom {
    bottom: 0;
    transform: translate(-50%, 50%);
}

.steps-section .contain .steps .circle-decor span {
    background: #fff;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.steps-section .contain .steps .circle-decor {
    position: absolute;
    left: 50%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--main-color);
}

.steps-section .contain .steps .step {
    position: relative;
    border-radius: 10px;
    display: flex;
    color: #fff;
    margin-bottom: 3rem;
}

.steps-section .contain .steps .step .numbering {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.steps-section .contain .steps .step .details {
    display: flex;
    justify-content: flex-end;
    margin-right: -5px;
}

.steps-section .contain .steps .step .details > div {
    background: url(../images/custom/step-background.svg) no-repeat center;
    background-size: cover;
    width: 527px;
    height: 253px;
    font-size: 1.8rem;
    padding: 1.2rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.steps-section .contain .steps .step .details > div .background-decor {
    background: url(../images/custom/step-background-decor.svg) no-repeat center;
    background-size: cover;
    position: absolute;
    top: 7px;
    right: 7px;
    left: -60px;
    width: 528px;
    height: 254px;
}

.steps-section .contain .steps .step .numbering > div {
    background: var(--second-color);
    width: 75px;
    height: 111px;
    font-size: 5rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.steps-section .contain .steps .step .numbering > div:before {
    content: "";
    position: absolute;
    left: 100%;
    top: 0;
    width: 0;
    height: 0;
    border-top: 55px solid transparent;
    border-left: 35px solid var(--second-color);;
    border-bottom: 55px solid transparent;
    margin-left: -.03rem;
}

.steps-section .contain .steps .step .numbering > div .background-decor {

    background-size: cover;
    position: absolute;
    top: 3px;
    left: 1px;
    width: 110px;
    height: 108px;
}

.steps-section .contain .steps .step:nth-child(odd) {
    flex-direction: row-reverse;
}

.steps-section .contain .steps .step:nth-child(odd) .details {
    transform: scale(-1);
    margin-right: 0;
    margin-left: -10px;
}

.steps-section .contain .steps .step:nth-child(odd) .details span {
    transform: scale(-1);
}

.steps-section .contain .steps .step:nth-child(odd) .numbering {
    transform: scale(-1);
}

.steps-section .contain .steps .step:nth-child(odd) .numbering span {
    transform: scale(-1);
}

.citizenship .form-contain {
    width: 80%;
    margin: auto;
    z-index: 1;
    position: relative;
    transform: translateY(-50%);
    border-radius: 10px;
    box-shadow: 0 6px 12px #00000029;
}

.citizenship .contact-form {
    background: #fff;
    color: var(--main-color);
    border-radius: 8px;
}

.citizenship .form-contain .contact-form .form-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0 !important;
    background: #fff;
    padding: 1.1rem !important;
}

.citizenship .form-contain .contact-form .form-group .custom-input {
    width: 27%;
    background: var(--gradiant-main-color);
    border: 0;
    color: var(--main-color);
    margin: 0;
    border-radius: 10px;
    padding: .7rem;
    font-size: 14px;
}

@media (max-width: 767px) {
    .home-filter-sections {
        border-radius: 24px;
        padding: 16px;
        flex-wrap: wrap;
    }

    .home-filter-sections > div {
        border: 1px solid #eaeaea;
        padding: 10px;
    }

    .filter-search-btn {
        width: 100%;
        display: block;
    }

    .project-boxes .box {
        width: 49%;
        margin-bottom: 10px;
        margin-right: 0;
    }

    .citizenship-way .description {
        font-size: 1rem;
        text-align: center;
        margin-bottom: 1.5rem;
    }

    .citizenship-way .ways-group .head {
        width: 60%;
        font-size: 1.2rem;
    }

    .ways-group .head::before, .ways-group .head::after {
        width: 50px !important;
        height: 2px !important;
    }

    .citizenship-way .ways-group .ways .item .desc {
        padding: .3rem;
    }

    .citizenship-way .ways-group .ways .item .desc p {
        font-size: .8rem;
        font-weight: unset;
    }

    .text-container {
        width: 90%;
    }

    .w-md-50 {
        width: 100% !important;
    }

    .home-filter {
        border-radius: 24px;
        margin-bottom: -40px;
        transform: translateY(-92px);
    }

    .whats-btn {
        width: 50px;
        height: 50px;
        bottom: 50px;
        right: 50px;
        font-size: 25px;
    }

    .steps-section .contain {
        width: 90%;
    }

    .steps-section .contain .steps {
        padding: 2rem 0;
    }

    .steps-section .contain .steps .decor {
        width: 5px;
    }

    .steps-section .contain .steps .circle-decor {
        width: 35px;
        height: 35px;
    }

    html:lang(en) .steps-section .contain .steps .step .details > div {
        font-size: .9rem;
        padding: .6rem;
    }

    .steps-section .contain .steps .step .details > div .background-decor {
        background: url(../images/custom/step-background-decor-mobile.svg) no-repeat center;
        background-size: cover;
        width: 228px;
        top: 2px;
        height: 110px;
    }

    .steps-section .contain .steps .step .details > div {
        background-size: cover;
        width: 228px;
        height: 110px;
        font-size: 1rem;
        padding: 1rem;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .steps-section .contain .steps .step .numbering > div {
        width: 40px;
        height: 45px;
        font-size: 2rem;
    }

    .steps-section .contain .steps .step .numbering > div:before {
        border-top: 23px solid transparent;
        border-left: 15px solid var(--second-color);
        border-bottom: 23px solid transparent;
    }

    .turkish-card .card-img img {
        height: 400px;
    }

    .turkish-card .card-body .prop-location .price-contain .price {
        font-size: 1rem;
    }

    .turkish-card .card-body .prop-location {
        width: 95%;
    }

    .citizenship .form-contain {
        width: 100%;
        margin: auto;
        transform: none;
        box-shadow: none;
    }

    .citizenship .form-contain .contact-form .form-group {
        flex-direction: column;
        padding: .7rem !important;
    }

    .citizenship .form-contain .contact-form .form-group .custom-input , .citizenship .form-contain .contact-form .form-group .btn  {
        width: 100%;
        margin: .3rem;
        font-size: 14px;
    }
}
